body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f7eee6;
  color: black;
  font-family: Tahoma;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 50px;
  background-color: #f7d9c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  h1 {
    position: relative;
    top: 26px;
    left: 31px;
    font-family: "fangsong";
    font-size: 3rem;
    color: #a35656;
  }
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: black;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

li > a {
  color: inherit;
  text-decoration: none;
}

.logo {
  position: relative;
  width: 50%;
  max-width: 130px;
  height: 130px;
  top: 66px;
  left: 31px;
  box-shadow: 9px 9px 25px rgb(172, 151, 123);
  border-radius: 5px;
}

.top-page {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 30px rgb(172, 151, 123);
  border-radius: 5px;
  width: 70%;
  gap: 10px;
  padding: 20px;
}
.box1{
  margin: 135px auto 30px auto;
}
.box2{  
  margin: 22px auto 30px auto;
}

.about-me {
  padding: 10px;
}

.search-box {
  input {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 95%;
  border: 1px solid grey;
 
  }
  input:focus{outline: none;}
}

.search-button{
  margin-left: auto;
  float: right;
  width: 5%;
  padding: 10px;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f7d9c5;
}

.title-box{
  text-align: center;
  h2{
    font-weight: lighter;
 
  }

}

.btn_recipe, .btn_sort, .btn-add-ingredient {
  margin-right: 3rem;
  background-color: #f7d9c5;
  border: none;
  box-shadow: 9px 9px 25px rgb(172, 151, 123);
  text-align: center;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 2.3rem;
}
.btn-add-ingredient
{
  margin-top: 2.3rem;
  i{
    padding-right: 10px;
  }
}

.btn_selected {
  background-color: #fac099;

}

#recipe-form {
  display: none;
  padding: 40px;
  box-shadow: 10px 10px 30px gray;
  border-radius: 5px;
  width: 80vw;
  margin: auto;

  
}

.form_section {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
  width: 60vw;
  /* max-width: 500px;
  min-width: 300px; */
  margin: 0 auto;
  padding-bottom: 2em;
  label {
    display: block;
    margin: 0.5rem 0;
  }
  input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    font-family: Tahoma;
  }
  textarea {
    margin: 20px;
    width: 92%;
    min-height: 2em;
    font-family: Tahoma;
  }
}
.form_section{
  select {
    margin: 10px 0 0 0;
    width: 101.5%;
    height: 2.4em;
  }
}

fieldset:last-of-type {
  border-bottom: none;
}

.ing-amo label {
  display: inline-grid;
  margin: 0.5rem;
}

.ingredients-item.grid {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 22px;
  margin-left: 7px;
}

.sub-btn {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: white;
  border-color: white;
}


.search-sort{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
 
  div {
    display: flex;

  }
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 4rem 0;
}

.every-recipe {
  position: relative;
  box-shadow: 9px 9px 25px rgb(172, 151, 123);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  p {
    text-align: left;
  }
  i {
    display: none;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    color:white;
  }
}
.every-recipe:hover{
  opacity: 60%;
  
  i {
    display: block;
    
    opacity: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgb(240, 232, 222);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-details {
  padding: 10px;
  text-align: center;
  img {
    width: 17rem;
    height: 17rem;
  }
  p {
    text-align: left;
  }
}

.bold{
  font-weight:bold ;
}

footer {
  background-color: #f7d9c5;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .modal-content {
    width: 70vw;
  }
  .search-sort{
    display: flex;
    gap: 15PX;
    justify-content: space-around;

    div{
      display: flex;
      flex-direction: column;
      gap: 15px;
      
    }
  }
  .logo {
    max-width: 90px;
    height: 90px;
    top: 50px;
  }
  header{
    h1{
      font-size: 2rem;
      left: 50px;


    }
  }
  .search-box{
    input{
      width: 70%;
    }
  }
  .recipe-list {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
}
